@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hiding */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  background-color: #111; /* Dark background outside the phone */
  font-family: 'Segoe UI', sans-serif;
}